<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>CAEF5943-F824-444E-9377-FD4C26BA2178.playgroundpage</string>
		<string>E5CD0982-0E2C-44BD-AEC6-4955882C3883.playgroundpage</string>
		<string>A3CE8C75-ACF1-4388-A0D3-3D98CA68F31D.playgroundpage</string>
		<string>52823B59-4101-48DC-97CC-752A2DEFFE36.playgroundpage</string>
		<string>BDC6F921-0EAB-4ADF-82D5-1BA88E3DE102.playgroundpage</string>
		<string>F8D1DBC6-7C3E-4A42-8328-34A0D7D44322.playgroundpage</string>
		<string>D0D20C8B-068C-43B1-BE59-FBCBC213418A.playgroundpage</string>
	</array>
</dict>
</plist>
